* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

root {
    font-size: 62.5%;
}

body {
    background: linear-gradient(288deg, #C2E9FB 0%, #A1C4FD 100%);
    font-size: 1.6rem;

    display: grid;
    place-items: center;
    height: 100vh;

    
}

body, button, input{
    font-family: 'Dm Sans', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
}

form {
    margin-top: 4.8rem;
}


main {
    background: #fff;
    box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, 0.10);
    border-radius: .6rem;
    padding: 4.8rem 6.4rem 6.4rem;
    
    text-align: center;
    
    

    width: min(42.8rem, 90%);
    margin: 0 auto;
    margin-top: -12rem;
}